Package: miria
Version: 2.0.2+117
Section: net
Priority: optional
Architecture: amd64
Maintainer: sorairo <sorairo@shiosyakeyakini.info>
Depends: libgtk-3-0, libstdc++6, libmpv2, libsecret-1-0
Description: Misskey client app for mobile (Linux build)
